/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
$themeColor: tomato;

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$mainColor: #333;
$headingColor: #333;

$mainFontSize: 32px;
$mainFont: "Nunito", sans-serif;
$headingFont: "Nunito", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 1.5em;
$heading2Size: 1.2em;
$heading3Size: 1em;
$heading4Size: 0.8em;
$headingLineHeight: 1.4;

.reveal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
//

.slides {
  border-top: #eee 1px solid;
  border-bottom: #eee 1px solid;
}
.slides .present {
  max-height: 1080px;
  height: 700px;
  text-align: left;
}

.slides .stack.present {
  max-height: none;
  height: auto;
}

.slides .present p {
  line-height: 1.5;
  padding: 3px 20px;
  margin: 0;
  font-weight: 400;
}
.slides .present ul {
  padding: 0px 20px;
  line-height: 1.5;
}

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

.slides .present h1.title {
  margin-top: 20%;
  border-bottom: 2px solid $themeColor;
}
.slides .present h2.subtitle {
  border: none;
  padding: 0px;
}

// .title-date {
//   position: absolute;
//   bottom: 100px;
//   right: 30px;
//   font-size: 0.8em;
// }
.title-name {
  text-align: right;
  position: absolute;
  bottom: 100px;
  right: 30px;
  font-size: 0.8em;
}

.slide-center {
  margin: 25% 10% !important;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid $themeColor;
}
.slides .present h2 {
  border-bottom: 2px solid $themeColor;
  padding: 20px 20px 0px 20px;
}
.slides .present h3 {
  padding: 20px 20px 0px 20px;
}

.MathJax_Display {
  margin: 0.3em !important;
  font-size: 0.8em !important;
}

.footnote {
  font-size: 16px;
  position: absolute;
  bottom: 8px;
}

.img50 {
  max-width: 50% !important;
}

.img75 {
  max-width: 75% !important;
}

.img100 {
  max-width: 100% !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
